body {
    font-family: 'RailwayRegular';
}

.button {
    background-color: #0019A8;
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    border-radius: 0px;
    width: 250px;
    height: 41px;
    font-weight: bold;
    font-family: 'RailwayRegular';
    z-index: 999;
    position: absolute;
    left: 225px;
    top: 97px;
}

form {
    text-align: center;
}

.container {
    background-color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 21px;
    width: 100px;
    margin: 60px auto 0px;
    position: absolute;
    height: 100px;
    border: 30px solid #DC241F;
    top: -42px;
    left: 249px;
}

.print_container {
    padding: 0 10%;
    margin-top: 82px;
}

#triangle-left {
    width: 0;
    height: 0;
    border-top: -1px solid transparent;
    border-right: 61px solid grey;
    border-bottom: 157px solid transparent;
    position: absolute;
    bottom: 36px;
    left: -85px;
    z-index: -1;
    display: none;
}

.button:focus {
    outline: 0;
}

div#next_tube {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

div#number_of_requests {
    padding-top: 9px;
    text-align: center;
    list-style-type: none;
}

div#wrapper {
    height: 300px;
    width: 700px;
    margin: 0 auto;
    background-color: ;
    position: relative;
    margin-top: 100px;
}
